[Unit]
Description = TorrServer
After = syslog.target network.target nss-lookup.target

[Service]
Type = simple
Environment="GODEBUG=madvdontneed=1"
ExecStart = /path/to/torrserver -d /path/to/db/
ExecReload = /bin/kill -HUP ${MAINPID}
ExecStop = /bin/kill -INT ${MAINPID}
TimeoutSec = 30
Restart = on-failure
LimitNOFILE = 4096

[Install]
WantedBy = multi-user.target